@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #231F20;
		--color-grid-background: #CCC;
		--color-font: #F2EFEA;
		--color-highlight1: #7389AE;
		--color-highlight1-light: #A4B4CB;
		--color-highlight1-dark: #3C4E68;
		--color-highlight2: #E71D36;
		--color-highlight3: #FF9F1C;
	}
}


@media (prefers-color-scheme: light) {
	:root {
		--color-background: #F2EFEA;
		--color-grid-background: #CCC;
		--color-font: #231F20;
		--color-highlight1: #7389AE;
		--color-highlight1-light: #A4B4CB;
		--color-highlight1-dark: #3C4E68;
		--color-highlight2: #E71D36;
		--color-highlight3: #FF9F1C;
	}
}

:root {
	margin: 0;
	padding: 0;
	--cell-width: 15vh;
	--cell-height: 15vh;
	--container-radius: 17px;
	--card-width: 17vw;
	--card-height: 5vh;
}

body {
	background: var(--color-background);
	color: var(--color-font);
}

.header {
	margin-left: 1vw;
	font-size: 125%;
}

.containers {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.footer {
	margin-top: 1vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.bingo-container {
	border: 2px solid var(--color-highlight1-dark);
	border-radius: var(--container-radius);
	max-width: 77vh;
}

.bingo-row {
	display: flex;
}

.bingo-cell {
	border: 2px solid var(--color-highlight1-dark);
	background: var(--color-grid-background);
	width: var(--cell-width);
	height: var(--cell-height);
}

.bingo-container > .bingo-row:first-child > .bingo-cell:first-child {
	border-top-left-radius: calc(var(--container-radius) - 2px);
}

.bingo-container > .bingo-row:first-child > .bingo-cell:last-child {
	border-top-right-radius: calc(var(--container-radius) - 2px);
}

.bingo-container > .bingo-row:last-child > .bingo-cell:first-child {
	border-bottom-left-radius: calc(var(--container-radius) - 2px);
}

.bingo-container > .bingo-row:last-child > .bingo-cell:last-child {
	border-bottom-right-radius: calc(var(--container-radius) - 2px);
}

.bingo-cell-selected {
	background: var(--color-highlight2);
}

.bingo-cell:hover {
	background: radial-gradient(var(--color-highlight1-light) 30%, var(--color-grid-background));
	transition: background 0.25s;
}

.card-container {
	margin-left: 5vw;
	border: 2px solid var(--color-highlight1-dark);
	border-radius: var(--container-radius);
	width: calc(var(--card-width) + 4px);
	max-height: 77vh;
	overflow-y: scroll;
}

.bingo-card {
	background: var(--color-highlight1);
	width: var(--cell-width);
	height: var(--cell-height);
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-container > .bingo-card {
	border: 2px solid var(--color-highlight1-dark);
	background: var(--color-highlight1);
	width: var(--card-width);
	height: var(--card-height);
}

.bingo-cell-selected>.bingo-card{
	background: var(--color-highlight2);
}
.bingo-cell-selected>.bingo-card:hover{
	background: radial-gradient(var(--color-highlight1-light) 30%, var(--color-highlight2));
}

.card-container > .bingo-card:hover {
	border: 2px solid var(--color-highlight1-dark);
	background: var(--color-highlight3);
	width: var(--card-width);
	height: var(--card-height);
}
