@media (prefers-color-scheme: dark) {
	body {
		background: #2D2D2D;
		color: #CCCCCC;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: #FFFFFF;
		color: #000000;
	}
}

:root {
	margin: 0;
	padding: 0;
	--cell-width: 15vh;
	--cell-height: 15vh;
	--container-radius: 17px;
	--card-width: 17vw;
	--card-height: 5vh;
}

.header {
	margin-left: 1vw;
	font-size: 125%;
}

.containers {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.footer {
	margin-top: 1vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.bingo-container {
	border: 2px solid #000000;
	border-radius: var(--container-radius);
	max-width: 77vh;
}

.bingo-row {
	display: flex;
}

.bingo-cell {
	border: 2px solid #000000;
	background: #CCCCCC;
	width: var(--cell-width);
	height: var(--cell-height);
}

.bingo-container > .bingo-row:first-child > .bingo-cell:first-child {
	border-top-left-radius: calc(var(--container-radius) - 2px);
}

.bingo-container > .bingo-row:first-child > .bingo-cell:last-child {
	border-top-right-radius: calc(var(--container-radius) - 2px);
}

.bingo-container > .bingo-row:last-child > .bingo-cell:first-child {
	border-bottom-left-radius: calc(var(--container-radius) - 2px);
}

.bingo-container > .bingo-row:last-child > .bingo-cell:last-child {
	border-bottom-right-radius: calc(var(--container-radius) - 2px);
}

.bingo-cell-selected {
	background: #0000FF;
}

.bingo-cell:hover {
	background: #59CDFF;
	transition: background 0.25s;
}

.card-container {
	margin-left: 5vw;
	border: 2px solid #000000;
	border-radius: var(--container-radius);
	width: calc(var(--card-width) + 4px);
	max-height: 77vh;
	overflow-y: scroll;
}

.bingo-card {
	background: #0000FF;
	width: var(--cell-width);
	height: var(--cell-height);
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-container > .bingo-card {
	border: 2px solid #000000;
	background: #0000FF;
	width: var(--card-width);
	height: var(--card-height);
}

.card-container > .bingo-card:hover {
	border: 2px solid #000000;
	background: #0059FF;
	width: var(--card-width);
	height: var(--card-height);
}
